<% provide(:title, 'Acerca de') %>
<h1>Acerca de</h1>
<p>
Openii es una aplicación desarrollada por Mario Omar Hernández para la <a href="http://www.ute.edu.ec">Universidad Tecnológica Equinoccial</a> como proyecto de tésis.
Ecuador - 2014
</p>