<% provide(:title, 'Inicio') %>
<h1>Inicio</h1>
<p>
	<%= link_to "Registrate", '#', class: "btn btn-large btn-primary" %>
</p>

<%= link_to image_tag("LOGO-UTE_color.gif", alt: "Universidad Tecnologica Equinoccial"), 'http://www.ute.edu.ec'%>