<div class="center hero-unit">
	<h1>Bienvenido a Openii</h1>

	<h2>Este es un proyecto de la facultad de Ingeniería de la <a href="http://www.ute.edu.ec">Universidad Tecnológica Equinoccial</a>
	</h2>
		<%= link_to "Registrate", '#', class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("LOGO-UTE_color.gif", alt: "Universidad Tecnológica Equinoccial"), 'http://www.ute.edu.ec'%>