<li>
  <span class="content"><%= proyect.nombre %></span>
  <span class="timestamp">
    Creado hace <%= time_ago_in_words(proyect.created_at) %>.
  </span>
  <% if usuario_actual?(proyect.user) %>
    <%= link_to "borrar", proyect, method: :delete, data: { confirm: "Estas seguro?" }, title: proyect.nombre %> | 
    <%= link_to "editar", openii_proyect_path %> 
  <% end %>
</li>