		<div class="navbar-inner">
			<div class="container">
				 <div class="btn-group">
					       
					<div class ="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Variables de entrada <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Metodología 6M</a></li>
							<li><a href="#">Flujo de procesos</a></li>
							<li><a href="#">Enumeración de causas</a></li>
						</ul>
					</div>
					<div class ="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Solución de problemas <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Diagrama de causa efecto</a></li>
							<li><a href="#">Diagrama de Pareto</a></li>
							<li><a href="#">Diagrama de tendencia</a></li>
							<li><a href="#">Gráficas de control</a></li>
							<li><a href="#">Histograma</a></li>
							<li><a href="#">Diagrama de dispersión</a></li>
							<li><a href="#">Diagrama de Gantt</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>




