<ul class="nav nav-tabs">
  <li class="active"><a href="#">Nombre del proyecto</a></li>
  <li class="disabled"><a href="#">Datos iniciales</a></li>
  <li class="disabled"><a href="#">Datos para evaluar</a></li>
</ul>
