<footer class "footer">
	<small>
		Producto de la Facultad de Ingeniería - <a href="http://www.ute.edu.ec">UTE</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de", acerca_de_path %></li>
			<li><%= link_to "Contáctanos", new_contact_path %></li>
		</ul>
	</nav>
</footer>